<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Font Awesome cdn -->
  <script src="https://kit.fontawesome.com/60179d3629.js"></script>
  <!-- custom stylesheet -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
  <title>GPA Tracker</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li> <a href="/semesters">Semesters</a> </li>
      </ul>
      <ul>
        <div>
          <li> <a href="/courses">Courses</a> </li>
          <li> <a href="#">GPA</a> </li>
          <li> <a href="#"><i class="fas fa-cog"></i> Settings</a> </li>
        </div>
      </ul>
    </nav>
  </header>
  <h1>Grade Tracker</h1>