<%- include("../partials/header.ejs") %> 

<main>
  <div class="container_nav">
    <ul>
      <li><a href="/semesters">Semesters </a></li>
    </ul>
    <ul>
      <li>COURSES</li>
    </ul>
    <ul>
      <li><a href="/semesters/<%=semester._id%>/courses">Save </a></li>
    </ul>
  </div>

  <div id="courses_container">
    <form id="main_form" action="/semesters/<%=semester._id%>/courses" method="POST" >
      <input type="text" placeholder="Course Name" name="course[name]" autocomplete="off">
      <input type="number" placeholder="Credit Weight" name="course[courseCredit]" autocomplete="off">
      <input id="submit" type="submit">
    </form>
  </div>
</main>


<%- include("../partials/footer.ejs") %>  

