<%- include("partials/header.ejs") %> 

<h1>Grade Tracker</h1>

<main>
  <div id="container_nav">
    <ul>
      <li><a href="#"> Semesters </a></li>
    </ul>
    <ul>
      <li><a href="#">Edit </a></li>
    </ul>
  </div>

  <div id="courses_container">
    <% courses.forEach((course)=>{ %>
      <div class="course">
        <p> <%= course.name %> </p>
        <p><span><%= course.courseGrade %> </span> % </p>
      </div>
      <hr>
    <% }) %>
  </div>
</main>




<%- include("partials/footer.ejs") %> 
