<%- include("partials/header.ejs") %> 

<h1>Grade Tracker</h1>

<main>
  <div class="container_nav">
    <ul>
      <li><a href="#"> Semesters </a></li>
    </ul>
    <ul>
      <li><a href="/courses">Done </a></li>
    </ul>
  </div>

  <div id="courses_container">
    <a href="/courses/newCourses">
      <i class="fas fa-plus-circle"></i>New Course
    </a>

    <% courses.forEach((course)=>{ %>
      <div class="course">
        <p>
          <a href=""><i class="fas fa-minus-circle"></i></a> 
          <%= course.name %> 
        </p>
        <p><span><%= course.courseGrade %> </span> % </p>
      </div>
      <hr>
    <% }) %>
  </div>
</main>




<%- include("partials/footer.ejs") %> 
