<%- include("partials/header.ejs") %> 

<h1>Grade Tracker</h1>

<main>
  <div id="container_nav">
    <ul>
      <li><a href="/courses"> X </a></li>
    </ul>
    <ul>
      <li><a href="/courses">Edit </a></li>
    </ul>
  </div>

</main>


<%- include("partials/footer.ejs") %> 
