<%- include("partials/header.ejs") %> 

<main>
  <div class="container_nav">
    <ul>
      <li><a href="/"> <i class="fas fa-chevron-left"></i> Semesters </a></li>
    </ul>
    <ul>
      <li><a href="/">Save </a></li>
    </ul>
  </div>

  <div id="courses_container">
    <form action="/" method="POST">
      <input type="text" placeholder="Semester Name" name="name">
      <input type="number" placeholder="Year" name="year">
      <input type="submit">
    </form>
  </div>
</main>


<%- include("partials/footer.ejs") %>  
