

$textBody: 'Montserrat', sans-serif;
$textHeader: 'Roboto', sans-serif;

/* Dark mode RGB */
$bkg: rgba(40, 48, 68, 1);
$secondaryBkg: rgba(120, 161, 187, 1);
$text: rgba(235, 245, 238, 1);
$secondaryText: rgba(191, 168, 158, 1);
$brown: rgba(139, 120, 109, 1);


/* HSL */
$color1: hsla(180%, 100%, 100%, 1);
$color2: hsla(349%, 84%, 38%, 1);
$color3: hsla(0%, 100%, 17%, 1);
$color4: hsla(0%, 100%, 8%, 1);
$color5: hsla(15%, 67%, 61%, 1);

/* RGB */
$background: rgba(253, 255, 255, 1);
$primary: rgba(177, 15, 46, 1);
$primaryVariant: rgba(87, 0, 0, 1);
$color4: rgba(40, 0, 0, 1);
$accent: rgba(222, 124, 90, 1);