

$textBody: 'Montserrat', sans-serif;
$textHeader: 'Roboto', sans-serif;

/* Dark mode RGB */
$bkg: rgba(40, 48, 68, 1);
$secondaryBkg: rgba(120, 161, 187, 1);
$text: rgba(235, 245, 238, 1);
$secondaryText: rgba(191, 168, 158, 1);
$brown: rgba(139, 120, 109, 1);