/* Dark mode RGB */
::-webkit-input-placeholder {
  color: red;
  opacity: 1;
}
:-ms-input-placeholder {
  color: red;
  opacity: 1;
}
::-ms-input-placeholder {
  color: red;
  opacity: 1;
}
::placeholder {
  color: red;
  opacity: 1;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.5rem;
}

body {
  background-color: #283044;
}

h1 {
  color: #ebf5ee;
  text-align: center;
  padding: 20px;
}

a {
  text-decoration: none;
}

a:hover {
  color: #8b786d;
}

.unclickable {
  display: block;
  pointer-events: none;
  cursor: default;
  color: #000;
}

header {
  width: 100%;
  height: auto;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 1px;
}

header nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  background: #78a1bb;
  width: 100%;
}

header ul {
  list-style-type: none;
  display: inline;
}

header ul li {
  display: inline;
  margin: 0 10px;
}

header ul:nth-of-type(2) {
  text-align: center;
}

header ul:nth-of-type(3) li {
  float: right;
}

main {
  width: 400px;
  height: auto;
  background-color: #78a1bb;
  margin: 50px auto;
  border-radius: 15px;
  -webkit-box-shadow: 1px 1px 1px #000;
          box-shadow: 1px 1px 1px #000;
}

main .container_nav {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 1px;
  padding: 10px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

main .container_nav ul {
  list-style-type: none;
  padding: 0 30px;
}

main .container_nav ul li {
  display: inline;
  text-transform: uppercase;
}

main .container_nav ul:nth-of-type(2) {
  text-align: center;
}

main .container_nav ul:nth-of-type(3) li {
  float: right;
}

main #newBtn {
  text-align: center;
  padding: 10px 0;
}

main #newBtn a {
  background-color: green;
  border-radius: 10px;
  padding: 10px 20px;
}

main .card_container {
  padding-top: 20px;
}

main .info {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

main #courses_container {
  position: relative;
}

main #courses_container span {
  font-size: 0.8em;
}

main #courses_container form {
  position: absolute;
  top: -45px;
  left: 30px;
}

main #courses_container form input {
  border: none;
  border-bottom: 1px solid #000;
  margin-right: 10px;
}

main #courses_container form input:focus {
  outline: none;
}

main #courses_container form #submit {
  background-color: green;
  border-radius: 5%;
  padding: 5px 10px;
  margin-left: 10px;
}

main #courses_container form #submit:hover {
  cursor: pointer;
  background-color: steelblue;
}

main #courses_container #course_form {
  position: absolute;
  top: -85px;
  left: 30px;
}

main #courses_container #grade_form {
  position: absolute;
  top: -30px;
  left: 30px;
}

.card {
  display: block;
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 20px 0;
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 1px solid #000;
}

.card i {
  color: #bfa89e;
}

.card p {
  padding-left: 30px;
}

.show_course_name {
  text-align: center;
  padding: 10px 0;
  font-size: 1.2em;
  letter-spacing: 2px;
}

.hidden {
  display: none;
}

#delete {
  position: relative;
}

#delete button {
  border: none;
  position: absolute;
  top: 31px;
  left: 10px;
}

#delete button i {
  color: red;
  font-size: 1.3em;
}

#delete button i:hover {
  color: blue;
}

#delete button:hover {
  cursor: pointer;
}

#grade_display {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 1px;
  padding: 20px 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  text-align: center;
}

#grade_display .current_grade p {
  float: left;
}

#grade_display .target_grade p {
  float: right;
}

#grade_display span {
  display: inline-block;
  color: #ebf5ee;
  font-size: 2em;
  padding: 5px;
}
/*# sourceMappingURL=styles.css.map */