@import "_variables.scss";

@mixin center(){
  text-align: center;
  padding:10px 0;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  line-height:1.5rem;
}

body{
  background-color: $bkg;
}

h1{
  color:$text;
  text-align:center;
}

a{
  text-decoration:none;
}
a:hover{
  color:$brown;
}

header{
  width:100%;
  height:auto;
  padding:20px;
  background:$secondaryBkg;

  nav{
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
  }

  ul{
    list-style-type: none;

    li{
      display:inline;
    }
  }
}

.container_nav{
  display:grid;
  grid-template-columns: 1fr 1fr;

  ul{
    list-style-type: none;

    li{
      display: inline;
      margin:0 20px;
      text-transform: uppercase;
    }
  }

  ul:nth-of-type(2){
    li{
      float:right;
    }
  }
}

main, #new_course{
  width:400px;
  height:auto;
  background-color: $secondaryBkg;
  margin:0 auto;
  padding:20px;
  border-radius:15px;
  box-shadow: 1px 1px 1px #000;

  #courses_container{
    padding-top:20px;
    span{
      font-size:0.8em;
    }

    .course{
      display: block;
      width:100%;
      height:auto;
      background-color:#fff;
      padding:20px 0;
      border-radius:15px;
      margin:10px auto;

      p{
        padding-left:30px;
      }
    }
  }
}

//SHOW PAGE

.show_course_name{
  @include center();
  font-size: 1.2em;
  letter-spacing: 2px;
}