@import "_variables.scss";



// == General Purpose == 

@mixin center(){
  text-align: center;
  padding:10px 0;
}

@mixin textHeader(){
  font-family:$textHeader ;
  text-transform: uppercase;
  font-size:0.9em;
  letter-spacing:1px;
}

::placeholder{
  color:red;
  opacity: 1;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  line-height:1.5rem;
}

body{
  background-color: $bkg;
}

h1{
  color:$text;
  text-align:center;
  padding:20px;
}


a{
  text-decoration:none;
}

a:hover{
  color:$brown;
}

.unclickable{
  display:block;
  pointer-events: none;
  cursor: default;
  color:#000;
}

// == header partial ==

header{
  width:100%;
  height:auto;
  @include textHeader();

  nav{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    padding:20px 65px;
    background:$secondaryBkg;
    width:100%;
  }

  ul{
    list-style-type: none;
    display: inline;

    li{
      display:inline;
      margin:0 10px;
      // text-transform: uppercase;
    }
  }

  ul:nth-of-type(2){
    text-align: center;
  }

  ul:nth-of-type(3){
    li{
      float:right;
    }
  }
}



// == All Models == 

main{
  width:400px;
  height:auto;
  background-color: $secondaryBkg;
  margin:50px auto;
  // padding:20px;
  border-radius:15px;
  box-shadow: 1px 1px 1px #000;

  .container_nav{
    @include textHeader();
    padding:10px 0;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
  
    ul{
      list-style-type: none;
      padding:0 30px;
      li{
        display: inline;
        text-transform: uppercase;
      }
    }
  
    ul:nth-of-type(2){
      text-align: center;
    }
  
    ul:nth-of-type(3){
      li{
        float:right;
      }
    }
  }

  #newBtn {
    @include center();

    a{
      background-color:green;
      border-radius: 10px;
      padding:10px 20px;
    }
  }

  .card_container{
    padding-top:20px;
  }

  .info{
    font-family: $textBody;
    font-weight:bold;
  }

  #courses_container{
    position: relative;

    span{
      font-size:0.8em;
    }

    form{
      width: 100%;
      background-color:#fff;
      padding:20px 25px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      border-bottom: 1px solid #e4e4e4;

      input{
        border:none;
        background-color:transparent;
        border-bottom:1px solid #666;
        margin-right:10px;
        font-size: 13px;
        padding:5px;
        color:#e4e4e4;

        &:focus{
          outline: none;
          color:#000;
        }
      }

      #submit{
        background-color:green;
        border-radius:5%;
        padding:5px 10px;
        margin-left:5px;
        &:hover{
          cursor:pointer;
          background-color:steelblue;
        }
      }
    }

    #course_form{
      position: absolute;
      top:-85px;
      left:30px;
    }

    #grade_form{
      position: absolute;
      top:-30px;
      left:30px;
    }
  }
}

.card{
  display: block;
  width:100%;
  height:auto;
  background-color:#fff;
  padding:20px 0;
  margin:0 auto;
  text-transform:uppercase;
  letter-spacing: 1px;
  border-bottom:1px solid #000;

  i{
    color:$secondaryText;
  }

  p{
    padding-left:30px;
  }
}

//SHOW PAGE

.show_course_name{
  @include center();
  font-size: 1.2em;
  letter-spacing: 2px;
}

.hidden{
  display:none;
}

#delete{
  position:relative;
}

#delete{

  button{
    border:none;
    position: absolute;
    top:31px;
    left:10px;

    i{
      color:red;
      font-size:1.3em;
      &:hover{
        color:blue;
      }
    }

    &:hover{
      cursor: pointer;

    }
  }
}


// == Grades models == 

#grade_display{
  @include textHeader();
  padding:20px 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;

  .current_grade p{
    float:left;
  }

  .target_grade p{
    float:right;
  }

  span{
    display: inline-block;
    color:$text;
    font-size:2em;
    padding:5px;
  }


}

