<%- include("../partials/header.ejs") %> 

<main>
  <div class="container_nav">
    <ul>
      <li><a href="/semesters"> Semesters </a></li>
    </ul>
    <ul>
      <li>Terms</li>
    </ul>
    <ul>
      <li><a href="/semesters">Save </a></li>
    </ul>
  </div>

  <div id="courses_container">
    <form id="main_form" action="/semesters" method="POST">
      <input type="text" placeholder="Semester Name" name="name" autocomplete="off">
      <input type="number" placeholder="Year" name="year" autocomplete="off">
      <input id="submit" type="submit">
    </form>
  </div>
</main>


<%- include("../partials/footer.ejs") %>  
